html {
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 960px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.display {
    display: flex;
    width: 350px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    
    align-items: center;
    justify-content: flex-start;
}

.gameboard {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 3px solid black;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 3px;
    gap: 2px;

    background-color: grey;
}

.gameitem {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5em;
}

footer {
    display: flex;
    background-color: red;
}